<div>
  <form [formGroup]="formulaire" method="post">
    <!-- value:{{formulaire.value|json}} <hr> : activer pour afficher le résultat sous forme json en haut de la page-->

    <mat-form-field>
      <input matInput placeholder="Name" formControlName="nom">

    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="First name" formControlName="prenom">

    </mat-form-field>
    <br>
    <mat-form-field>
      <input type="email" matInput placeholder="E-mail" formControlName="email">
      <mat-error *ngIf="email.invalid">
        Your e-mail is not correct
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input type="tel" matInput placeholder="Phone number" formControlName="telephone">

    </mat-form-field>
    <br>
    <mat-checkbox formControlName="agree" color="accent"> are you done!</mat-checkbox>
    <br>
    <button id="submit" mat-raised-button [disabled]="formulaire.invalid" color="primary" >Submit</button>
    <button id="reset" mat-raised-button  color="primary" (click)="formulaire.reset()">Reset</button>
    <button id="cancel" mat-raised-button  color="primary" >Cancel</button>
  </form>
</div>
