<div>
  <form [formGroup]="formulaire">
    <!-- value:{{formulaire.value|json}} <hr> : activer pour affiche le résultat sous forme json en haut de la page-->

    <mat-form-field>
      <input matInput placeholder="Nom" formControlName="nom">

    </mat-form-field>
    <hr>
    <mat-form-field>
      <input matInput placeholder="Prénom" formControlName="prenom">

    </mat-form-field>
    <hr>
    <mat-form-field>
      <input matInput placeholder="E-mail" formControlName="email">
      <mat-error *ngIf="email.invalid">
        your e-mail is not correct
      </mat-error>
    </mat-form-field>
    <hr>
    <mat-form-field>
      <input matInput placeholder="Téléphone" formControlName="telephone">

    </mat-form-field>
    <hr>
    <mat-checkbox formControlName="agree" color="accent"> are you done!</mat-checkbox>
    <hr>
    <button mat-raised-button [disabled]="formulaire.invalid" color="primary">Submit</button>
  </form>
</div>
